Movie_Ticket_Booking_Client/Connected Services/TheaterServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TheaterServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" />
  <xs:element name="GetTheaters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheatersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetTheatersResult" nillable="true" type="q1:ArrayOfTheater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetTheaterResult" nillable="true" type="q2:Theater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="theater" nillable="true" type="q3:Theater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTheaterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="theater" nillable="true" type="q4:Theater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTheaterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesNotInTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theaterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesNotInTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetMoviesNotInTheaterResult" nillable="true" type="q5:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTheaterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieToTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theaterId" type="xs:int" />
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
        <xs:element minOccurs="0" name="totalSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieToTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMovieToTheaterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>