Movie_Ticket_Booking_Client/Connected Services/TheaterServices/TheaterServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TheaterServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TheaterServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TheaterServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TheaterServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITheaterServices_GetTheaters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTheaters" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_GetTheaters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTheatersResponse" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_GetTheater_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTheater" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_GetTheater_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTheaterResponse" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_AddTheater_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTheater" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_AddTheater_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTheaterResponse" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_UpdateTheater_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTheater" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_UpdateTheater_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTheaterResponse" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_GetMoviesNotInTheater_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesNotInTheater" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_GetMoviesNotInTheater_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesNotInTheaterResponse" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_DeleteTheater_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTheater" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_DeleteTheater_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTheaterResponse" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_AddMovieToTheater_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieToTheater" />
  </wsdl:message>
  <wsdl:message name="ITheaterServices_AddMovieToTheater_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieToTheaterResponse" />
  </wsdl:message>
  <wsdl:portType name="ITheaterServices">
    <wsdl:operation name="GetTheaters">
      <wsdl:input wsaw:Action="http://tempuri.org/ITheaterServices/GetTheaters" message="tns:ITheaterServices_GetTheaters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITheaterServices/GetTheatersResponse" message="tns:ITheaterServices_GetTheaters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTheater">
      <wsdl:input wsaw:Action="http://tempuri.org/ITheaterServices/GetTheater" message="tns:ITheaterServices_GetTheater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITheaterServices/GetTheaterResponse" message="tns:ITheaterServices_GetTheater_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTheater">
      <wsdl:input wsaw:Action="http://tempuri.org/ITheaterServices/AddTheater" message="tns:ITheaterServices_AddTheater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITheaterServices/AddTheaterResponse" message="tns:ITheaterServices_AddTheater_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTheater">
      <wsdl:input wsaw:Action="http://tempuri.org/ITheaterServices/UpdateTheater" message="tns:ITheaterServices_UpdateTheater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITheaterServices/UpdateTheaterResponse" message="tns:ITheaterServices_UpdateTheater_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesNotInTheater">
      <wsdl:input wsaw:Action="http://tempuri.org/ITheaterServices/GetMoviesNotInTheater" message="tns:ITheaterServices_GetMoviesNotInTheater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITheaterServices/GetMoviesNotInTheaterResponse" message="tns:ITheaterServices_GetMoviesNotInTheater_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTheater">
      <wsdl:input wsaw:Action="http://tempuri.org/ITheaterServices/DeleteTheater" message="tns:ITheaterServices_DeleteTheater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITheaterServices/DeleteTheaterResponse" message="tns:ITheaterServices_DeleteTheater_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMovieToTheater">
      <wsdl:input wsaw:Action="http://tempuri.org/ITheaterServices/AddMovieToTheater" message="tns:ITheaterServices_AddMovieToTheater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITheaterServices/AddMovieToTheaterResponse" message="tns:ITheaterServices_AddMovieToTheater_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITheaterServices" type="tns:ITheaterServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTheaters">
      <soap:operation soapAction="http://tempuri.org/ITheaterServices/GetTheaters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheater">
      <soap:operation soapAction="http://tempuri.org/ITheaterServices/GetTheater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTheater">
      <soap:operation soapAction="http://tempuri.org/ITheaterServices/AddTheater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTheater">
      <soap:operation soapAction="http://tempuri.org/ITheaterServices/UpdateTheater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesNotInTheater">
      <soap:operation soapAction="http://tempuri.org/ITheaterServices/GetMoviesNotInTheater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTheater">
      <soap:operation soapAction="http://tempuri.org/ITheaterServices/DeleteTheater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMovieToTheater">
      <soap:operation soapAction="http://tempuri.org/ITheaterServices/AddMovieToTheater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TheaterServices">
    <wsdl:port name="BasicHttpBinding_ITheaterServices" binding="tns:BasicHttpBinding_ITheaterServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TheaterServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>