Movie_Ticket_Booking_Client/Connected Services/TicketServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TicketServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" />
  <xs:element name="GetTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetTicketsResult" nillable="true" type="q1:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetTicketResult" nillable="true" type="q2:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="ticket" nillable="true" type="q3:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
        <xs:element minOccurs="0" name="theaterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfTicketsBooked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
        <xs:element minOccurs="0" name="theaterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfTicketsBookedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfTicketsBookedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetTicketsForUserResult" nillable="true" type="q4:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>