Movie_Ticket_Booking_Client/Connected Services/UserServices/UserServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/UserServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/UserServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/UserServices/?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/UserServices/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServices_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IUserServices_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServices">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/GetUsers" message="tns:IUserServices_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/GetUsersResponse" message="tns:IUserServices_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/GetUser" message="tns:IUserServices_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/GetUserResponse" message="tns:IUserServices_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/SignUp" message="tns:IUserServices_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/SignUpResponse" message="tns:IUserServices_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/Login" message="tns:IUserServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/LoginResponse" message="tns:IUserServices_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServices" type="tns:IUserServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserServices/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserServices/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IUserServices/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServices">
    <wsdl:port name="BasicHttpBinding_IUserServices" binding="tns:BasicHttpBinding_IUserServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/UserServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>