Movie_Ticket_Booking_Client/Connected Services/MovieServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/MovieServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" />
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetMoviesResult" nillable="true" type="q1:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetMovieResult" nillable="true" type="q2:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="movie" nillable="true" type="q3:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMovieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="movie" nillable="true" type="q4:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMovieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMovieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieToTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theaterId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="movie" nillable="true" type="q5:Movie" />
        <xs:element minOccurs="0" name="totalSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieToTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMovieToTheaterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheatersByMovieId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheatersByMovieIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Movie_Ticket_Booking_Services.Models" minOccurs="0" name="GetTheatersByMovieIdResult" nillable="true" type="q6:ArrayOfTheater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>